body {
  margin: 0cm;
  font-family: 'Noto Sans', sans-serif;
}
h1,h2,h3,h4,h5{
  font-family: 'Fjalla One', sans-serif;
}
.cover {
  height: 100vh;
  width: 100%;
  background-image: url(https://cdn.glitch.global/845fe7b7-4114-4270-ae72-269aa4dd088d/rsz_nathan-da-silva-k-rkfqsm4l4-unsplash.jpg?v=1676859342647);
  color: white;
  
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  background-color:rgba(0,0,0,0.6);
  
  
}
.custom-button {
  background-color: white;
  color: black;
  font-size: 1.1rem;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 11px;
}

.custom-button:hover {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  transform: translateY(-1px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.titulo{
  font-size: 44px;
  font-weight: 1000;
}
.cover-small{
  height: 120px;
  background-blend-mode: normal;
}
.pi{
  height: 140px;
  width: 100%;
}

.card-title{
  background-position: center;
  min-height: 2.5rem;
}
.card{
  border: 0 !important;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4p -1px rgba(0,0,0,0.06);
}
  
