/* Curso - Introducción */




.nav__link-button {
	background-color: var(--black-color);
	color: var(--white-color) !important;
	padding: 1.1rem 1.5rem;
}

/* Sección de información LSM */
.info-lsm-section {
	background-color: var(--white-color); /* Fondo claro */
	padding: 40px 0;
  }
  
  .info-lsm-container {
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
	gap: 20px; /* Espacio entre los cuadros */
	flex-wrap: wrap; /* Permite que los cuadros se adapten en pantallas pequeñas */
  }
  
  .info-lsm-box {
	background-color: var(--cuadro-color); /* Color clarito para los cuadros */
	border-radius: 10px;
	padding: 20px;
	text-align: center;
	flex: 1; /* Permite que los cuadros se adapten al ancho disponible */
	min-width: 280px; /* Ancho mínimo para los cuadros */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
	color: var(--title-color) !important;
  }
  
  .info-lsm-box h3 {
	font-size: 1.5rem;
	margin-bottom: 15px;
	color: var(--title-color);
  }
  
  .info-lsm-box p {
	font-size: 1rem;
	color: var(--title-color);
  }
  .course-intro__image {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course-intro__image-content {
    width: 100%; 
    height: auto;
    max-height: 315px; /* Altura máxima para que tenga la misma proporción que el video */
    object-fit: cover; /* Ajusta la imagen para que mantenga sus proporciones */
    border-radius: 5px; /* Bordes redondeados, opcional */
    margin-bottom: 1rem;
}

.course-intro__button {
    background-image: url(./../img/bg3.png);
    color: var(--boton-color) !important;
    padding: 0.75rem 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    width: 100%;
    max-width: 900px;
    transition: background-color 0.3s ease;
}

  /* Estilos para la imagen de fondo */
.home__image-background {
	width: 100% !important;  /* La imagen ocupará todo el ancho */
	height: auto !important; /* La altura se ajustará automáticamente */
	object-fit: cover !important; /* Asegura que la imagen mantenga sus proporciones */
	display: block !important;
  }
  a.nav__link {
	color: var(--title-color) !important;
  }
  a.nav__link.nav__link-button {
	color: white !important;
  }


  /* Responsivo para móviles: los cuadros se apilan uno sobre otro */
  @media (max-width: 768px) {
	.info-lsm-container {
	  flex-direction: column;
	  align-items: center;
	}
  
	.info-lsm-box {
	  width: 90%; /* Ocuparán casi todo el ancho de la pantalla */
	  margin-bottom: 20px;
	}
  }
  








.course-intro {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	background-color: var(--white-color);
	padding: 2rem;
	max-width: 1200px;
	margin: 0 auto;
  }
  
  .course-intro__content {
	flex: 1;
	padding-right: 2rem;
  }
  
  .course-intro__title {
	font-size: var(--h1-font-size);
	margin-bottom: 1rem;
	color: var(--title-color);
  }
  
  .course-intro__description {
	font-size: 20px;
	margin-bottom: 1rem;
	color: var(--title-color);
  }
  
  .course-intro__info {
	display: flex;
	gap: 1rem;
	margin-bottom: 1.5rem;
  }
  
  .course-intro__info span {
	font-size: var(--normal-font-size);
	color: var(--title-color);
  }
  
  /* Video y botón a la derecha */
  .course-intro__video {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .course-intro__video iframe {
	width: 100%;
	height: 315px;
	margin-bottom: 1rem;
  }
  
  .course-intro__button {
	background-image: url(./../img/bg3.png);
	color: var(--boton-color) !important;
	padding: 0.75rem 1.5rem;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	width: 100%;
	max-width: 900px;
	transition: background-color 0.3s ease;
  }
  h4{
	color: black !important;
  }
  .course-intro__button:hover {
	background-color: var(--black-color-light);
  }
  #course-video-player{
	height: 500px !important;
	width: 100% !important;
  }
  
  
  /* Responsivo: todo en una sola columna en pantallas pequeñas */
  /* Elimina la información del curso en dispositivos móviles */
  @media (max-width: 768px) {
	.course-intro {
	  flex-direction: column;
	  padding: 1rem;
	}
	#course-video-player{
		height: 200px !important;
		width: 100% !important;
	  }
  
	.course-intro__content {
	  padding-right: 0;
	  width: 100%;
	}
  
	.course-intro__video {
	  width: 100%; /* Asegura que ocupe todo el ancho disponible */
	  margin-top: 1rem;
	}
  
	.course-intro__video iframe {
        width: 100%;
        height: 180px; /* Ajuste de altura para pantallas móviles */
    }
  
	.course-intro__button {
	  width: 100%;
	  max-width: none;
	}
  
	/* Oculta la información del curso en móviles */
	.course-intro__info, .course-intro__description {
	  display: none;
	}
  }






  body{
	background-color: var(--white-color) !important;
  }



  .course-content {
	display: flex;
	padding: 20px;
	gap: 20px;
	max-width: 1250px;
	margin: 0 auto;
}

.course-menu {
	width: 30%;
	background-color: var(--white-color);
	padding: 10px;
	border-radius: 8px;
}

.tab {
	margin-bottom: 1rem;
}

.tab input {
	display: none;
}

.tab label {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	padding: 15px; /* Aumentado para más espacio */
	border-radius: 5px;
	font-size: 1rem;
}

/* Colores actualizados para las unidades */
.tab-1 label {
	background-color: #b9d1ec; /* Azul claro */
}

.tab-2 label {
	background-color: #f0e198; /* Amarillo suave */
}

.tab-3 label {
	background-color: #ffcabf; /* Naranja suave */
}

.tab-4 label {
	background-color: #ace5af; /* Verde suave */
}

.tab-5 label {
	background-color: #cdc4f5; /* Morado suave */
}

/* Estilos para el contenido que se despliega */
.tab-content {
	display: none;
	list-style: none;
	padding-left: 20px;
	background-color: var(--white-color); /* Fondo blanco */
	border-radius: 5px;
	margin-top: 5px;
	border: 2px solid transparent;
}

/* Submenús hover: mantienen los colores previos */
.tab-1 .tab-content .row:hover {
	background-color: #F2F8FF;
	border-color: #b9d1ec;
	color: black;
}

.tab-2 .tab-content .row:hover {
	background-color: #FFF9DB;
	border-color: #f0e198;
	color: black;
}

.tab-3 .tab-content .row:hover {
	background-color: #FFE6E1;
	border-color: #FF5722;
	color: black;
}

.tab-4 .tab-content .row:hover {
	background-color: #E4F9E5;
	border-color: #4CAF50;
	color: black;
}

.tab-5 .tab-content .row:hover {
	background-color: #EDE9FF;
	border-color: #7E57C2;
	color: black;
}

/* Filas de los submenús */
.tab-content .row {
	display: flex;
	align-items: center;
	padding: 10px 10px;
	border: 2px solid transparent;
	background-color: var(--white-color); /* Fondo blanco */
	border-radius: 5px;
	margin-bottom: 5px;
	color: var(--title-color); /* Color del texto del submenú */
	transition: background-color 0.3s, border-color 0.3s;
}

/* Iconos en los submenús */
.tab-content .row img {
	width: 12px;
	height: 12px;
	margin-right: 10px;
}

/* Cambiar el contenido desplegable cuando se selecciona */
.tab input:checked + label + .tab-content {
	display: block;
}

.course-video {
	width: 70%;
	padding-left: 20px;
}

/* Estilos responsivos para móviles */
@media (max-width: 768px) {
	.course-content {
		flex-direction: column-reverse; /* Cambiamos el orden */
	}

	.course-menu {
		width: 100%;
	}

	.course-video {
		width: 100%;
		padding-left: 0;
		margin-bottom: 20px;
	}

	.tab-content {
		padding-left: 15px;
		font-size: 0.9rem;
	}

	.tab label {
		padding: 12px; /* Ajuste del padding en móviles */
		font-size: 0.95rem;
	}

	.tab-content .row img {
		width: 14px !important; /* Tamaño un poco más grande */
		height: 14px !important;
	}

	.unidad1,
	.unidad2,
	.unidad3,
	.unidad4,
	.unidad5 {
		width: 18px !important; /* Iconos ligeramente más grandes */
		height: 18px !important;
	}
}


.alphabet-quiz {
	text-align: center;
	padding: 20px;
	background-color: var(--white-color);
	max-width: 1250px;
	margin: 0 auto;
  }
  
  .quiz-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
  }
  
  .quiz-image img {
	max-width: 250px;
	border-radius: 10px;
	padding-top: 30px;
  }
  
  .quiz-options {
	display: flex;
	gap: 20px;
  }
  
  .quiz-option {
	padding: 10px 20px;
	background-color: var(--first-color);
	color: var(--white-color);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1.2rem;
	transition: background-color 0.3s ease;
  }
  
  .quiz-option:hover {
	background-color: var(--black-color-light);
  }
  
  .quiz-result {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--first-color);
  }
  
  .next-button {
	padding: 10px 20px;
	background-color: var(--black-color);
	color: var(--white-color);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1.2rem;
	display: none; /* Se muestra cuando se necesita */
	transition: background-color 0.3s ease;
  }
  
  .next-button:hover {
	background-color: var(--black-color-light);
  }
  .quiz-input-container {
	margin-top: 20px;
  }
  
  #quiz-input {
	padding: 10px;
	font-size: 1.2rem;
	border-radius: 5px;
	border: 2px solid #b9d1ec;
	text-align: center;
	width: 153.9px;
  }
  